p::first-line{
    font-weight: bold;
    color: blue;
    word-spacing: 2px;
    letter-spacing: 2px;
}
p::first-letter{
    font-size: 50px;
}
ul li{
    padding: 10px;
    margin-bottom: 10px;
}
ul li:first-child{
    background-color: darkcyan;
}
ul li:last-child{
    background-color: deepskyblue;
}
a:visited{
    color: fuchsia;
}
a:hover{
    color: pink;
    background-color: lightblue;
}